body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 200px;
}

input {

}

button {

}
