*, *::before, *::after {
    box-sizing: border-box;
}

*:disabled {
    display: none;
}

:root {
    --gray0: #f6f4f2;
    --gray1: #efecea;
    --gray5: #9f9995;
    --gray6: #666666;
    --gray7: #474645;
    --gray8: #343433;
    --gray9: #242424;
}

@media (prefers-color-scheme: light) {
    :root {
        --lightest-bg-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: var(--gray9);
        --lightest-bg-color: var(--gray0);
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    gap: calc(0.65rem*3);
    background-color: var(--main-bg-color);  /* transparent by default */
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.65rem;
    width: 20rem;
}

select,
input[type="text"],
button[type="button"] {
    appearance: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    outline: none;  /* :focus */
    padding: 0.5rem 0.75rem 0.5rem;
    width: 100%;
    user-select: none;
}

select {
    cursor: pointer;
    background-color: var(--lightest-bg-color);
    border-color: var(--gray1);
}

input[type="text"] {
    background-color: var(--gray0);
    border-color: var(--gray1);
}

button[type="button"] {
    cursor: pointer;
    color: white;
    background-color: var(--gray7);
}

.privacyPolicy {
    position: absolute;
    bottom: 0.65rem;
}
